*.o
*.slo
*.lo
*.so
*.dylib
*.lai
*.la
*.a
*.obj
*.nes
*.pdb
*.aps
*.sdf
*.opensdf
*.pro.user
*.txt
*.bak

build/
core/Debug/
core/Release/
windows/Debug/
windows/Release/
windows/ipch/
windows/UI/Debug/
windows/UI/Release/

